/* Reservation blocks */
.reservation_block {
  position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d1d7d1;
    padding: 10px;
    color: black;
    border-radius: 5px;
    z-index: 1000;
}
.reservation_btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}
.reservation_btn:hover {
  background-color: #333;
  color: white;
}

/* MainPage */
.mainpage_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About */
.about_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}
.about_container.reverse {
  flex-direction: row-reverse;
}
.about_image img {
  width: 80%;
}
.about_description {
  width: 100%;
}
.about_content {
  text-align: left;
}
.about_container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_content li {
  list-style-type: none
}

/* Reservations */
.lession_container {
  
}
.lession_item_active {
  background-color: #45a049;
}
.lession_item_disabled {
  background-color: red;
}
/* Overrides Calendar css */
.react-calendar {
  color: white;
  background: #646464 !important;
}
.react-calendar__tile:hover {
  background-color: lightgray !important;
}
.react-calendar__tile:disabled {
  color: white !important;
  background-color: red !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: 0.6 !important;
}
.react-calendar__month-view__days__day--weekend {
  color: orange !important;
}
.react-calendar__tile--now {
  background-color: #006edc !important;
  color: white !important;
}
.react-calendar__tile--active {
  background-color: green !important;
}
.content_container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.content_warpper {
  display: grid;
  place-items: center;
  align-items: start;
  grid-template-rows: 1fr 4fr;
  text-align: left;
  margin-bottom: 300px;
}
#lession_date {
  text-align: center;
}
#lession_time_range {
  display: flex;
  justify-content: space-between;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
#time_range_container li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */
.header {
    background-color: #046278;
    color: white;
    display: flex;
    justify-content: space-between;
}
.header img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.header li {
    list-style-type: none;
    margin-right: 10px;
    cursor: pointer;
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navBar_container {
  display:flex;
  align-items: end;
  width: 70%;
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

/* Footer */
.footer {
    background-color: #046278;
    color: white;
    padding: 10px;
}
.footer-content {
  text-align: center;
}
.footer li {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  margin-right: 10px;
  cursor: pointer;
}

.footer li img {
  width: 30%;
}

/* Carousel */
.carousel_container {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 90vh;
  display: flex;
}

.carousel_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel_img {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.carousel_img.active {
  left: 0;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.carousel_img:not(.active) {
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.carousel_button_container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #f1f1f1;
    overflow: hidden;
}
.carousel_buton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4caf50;
    border: none;
    cursor: pointer;
}
.carousel_button:hover {
    background-color: #45a049;
}
.carousel_buton.active {
    transform: scale(1.25);
    background-color: #4CAF50;
}
